{{!< ../default}}

<main id="site-main" class="site-main site-signup outer">
<div class="inner">

{{!-- Custom Styles --}}
<link rel="stylesheet" href="{{asset "css/screen.css"}}">

{{#if @member.paid}}

    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else if @member}}

    {{!-- Logged in, not paying: Check out --}}
    <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
        <div class="checkout-box">
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Monthly</h3>
                    <span>{{@price.currency}}</span><strong>{{price @product.monthly_price}}</strong> <span class="plan-label">/ month</span>
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Monthly" >Choose this plan</a>
                </div>
            </div>
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Yearly</h3>
                    <span>{{@price.currency}}</span><strong>{{@price.yearly}}</strong> / year
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                        <li>One easy payment instead of 12!</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                </div>
            </div>
        </div>
    </div>

{{else}}

    <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>

        <div class="gh-portal-input-labelcontainer">
            <label for="input-name" class="gh-portal-input-label"> Name </label>
        </div>
        <input id="input-name" class="gh-portal-input" type="text" name="name" placeholder="Jamie Larson" autocomplete="off" autocorrect="off" autocapitalize="" aria-label="Name" value="">
        <div class="gh-portal-input-labelcontainer">
            <label for="input-email" class="gh-portal-input-label"> Email </label>
        </div>
        <input id="input-email" class="gh-portal-input" type="email" name="email" placeholder="jamie@example.com" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Email" value=""     
            validate="required:true" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" >

        <div class="row" style="margin-bottom: 32px; margin-top: 64px;">
            <span>MONTHLY</span>
            <label class="price-switch">
                <input type="checkbox" onchange="onPlanSwitch()" id="yearly-checkbox">
                <span class="slider round"></span>
            </label>
            <span>YEARLY</span>
        </div>

        <div class="checkout-box">
            {{#foreach @products as |product|}}
                {{#if @product.monthly_price}}
                    <label class="checkout-plan">
                        <input name="plan" class="radio" type="radio" checked yearly="{{price @product.yearly_price.amount}}" monthly="{{price @product.monthly_price.amount}}" product-name="{{@product.name}}" currency="{{@price.currency}}">
                            <span class="plan-details">

                        <header class="checkout-plan-header" style="padding-top:50px;">
                            <h3>{{product.name}}</h3>
                            {{#match @product.name "=" "CUSTOM"}}
                                <div class="input-group row">
                                    <input type="button" value="-" class="button-minus" data-field="quantity" style="background:#fff; padding=8px; margin=8px; width=20px;">
                                    <div class="checkout-currency" style="align-self: center;" currency-code="{{@price.currency}}"></div>
                                    <input id="custom-price" type="number" step="1" max="" value="{{price @product.monthly_price.amount}}" name="quantity" class="quantity-field">
                                    <span class="plan-label" style="font-size: 18px; align-self: center;">/ month</span>
                                    <input type="button" value="+" class="button-plus" data-field="quantity" style="background:#fff;">
                                </div>
                            {{else}}
                                <div class="row">
                                <div class="checkout-currency" currency-code="{{@price.currency}}"></div>
                                <strong class="price-label" yearly="{{price @product.yearly_price.amount}}" monthly="{{price @product.monthly_price.amount}}">
                                    {{price @product.monthly_price.amount}}</strong> <span class="plan-label" style="font-size: 20px;">/ month</span>
                                </div>
                            {{/match}}
                        </header>
                        <div class="checkout-plan-content">
                            <header class="checkout-plan-header">
                                {{#if @product.description}}
                                    <span>{{product.description}}</span>
                                {{/if}}
                            </header>

                            {{#if @product.benefits}}
                                <ul>
                                {{#foreach @product.benefits as |benefit|}}
                                    <li>{{benefit.name}}</li>
                                {{/foreach}}
                                </ul>
                            {{/if}}
                        </div>
                        </span>
                        </input>
                    </label>

                {{/if}}
            {{/foreach}}
        </div>
        <a class="button rounded primary fit" id="pay-button" style="margin-top: 100px; max-width:350px">
            <span class="button__text">
                SUBSCRIBE
            </span>
        </a>
        <p id="error" style="margin-top: 100px; font-size:18px">
            <!-- error message will appear here -->
        </p>
    </div>


{{/if}}

</div>
</main>


{{#contentFor "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    const getCurrencySymbol = (locale, currency) => (0).toLocaleString(locale, { style: 'currency', currency, minimumFractionDigits: 0, maximumFractionDigits: 0 }).replace(/\d/g, '').trim();
    
    function setCurrencySign(){    
        var labels = document.getElementsByClassName("checkout-currency");
        var currencyCode = labels.item(0).getAttribute("currency-code");
        var currencySign = getCurrencySymbol('en-IN', currencyCode); 

        for (var i = 0; i < labels.length; i++) {
            labels.item(i).innerHTML = currencySign;
        }
    }

    document.onload = setCurrencySign();

    function onPlanSwitch() {
        var yearlySelected = document.getElementById('yearly-checkbox').checked;
        var price_labels = document.getElementsByClassName("price-label");
        var plan_labels = document.getElementsByClassName("plan-label");
        for (var i = 0; i < price_labels.length; i++) {
            // change the price plan for each subscription product
            if (yearlySelected) {
                price_labels.item(i).innerHTML = price_labels.item(i).getAttribute("yearly");
            } else {
                price_labels.item(i).innerHTML = price_labels.item(i).getAttribute("monthly");
            }
        }
        // change custom price
        // get min values
        var radios = document.getElementsByClassName("radio");
        for (var i = 0, length = radios.length; i < length; i++) {
            console.log("get min value " + radios[i].getAttribute("product-name"));
            if (radios[i].getAttribute("product-name")==='CUSTOM') {
                // set custom input to minamal price
                if (yearlySelected) {
                    document.getElementById("custom-price").value = radios[i].getAttribute("yearly");
                } else {
                    document.getElementById("custom-price").value = radios[i].getAttribute("monthly");
                }
            }
        }

        // change all labels
        for (var i = 0; i < plan_labels.length; i++) {
        if (yearlySelected) {
                plan_labels.item(i).innerHTML = "/ year";
            } else {
                plan_labels.item(i).innerHTML = "/ month";
            }
        }


    }
    
    $("#pay-button").click(function () {
        // features works only with this following stripe account
        const stripePrivateKey="sk_test_51KYmQ1AvRMHFv37pvJZu5mAjnIkk8hNW2SUEpcDGlnAyDLQ7161GMVIgZBTEtsCxvOAgIxqpFDEctUE0BF1YJ3jl00dIyyknKT";
        // reset error
        document.getElementById("error").innerHTML = ""
        // get values
        var radios = document.getElementsByClassName("radio");
        let selected_product;
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                selected_product = radios.item(i);
            }
        }
        var productName = selected_product.getAttribute("product-name");
        var plan = document.getElementById("yearly-checkbox").checked ? "yearly" : "monthly";
        var price = plan==="yearly" ? selected_product.getAttribute("yearly") : selected_product.getAttribute("monthly");
        var name = document.getElementById("input-name").value;
        var email = document.getElementById("input-email").value;
        var currencyCode = selected_product.getAttribute("currency");
        var successUrl = "https://fueledbycoffee.ghost.io/";
        var cancelUrl = "https://fueledbycoffee.ghost.io/signup/";
        // check if value lower than minimal
        if (productName==='CUSTOM') {
            var custom_price = document.getElementById("custom-price").value;
            if (custom_price<price) {
                document.getElementById("error").innerHTML = "Custom price can't be lower than " + getCurrencySymbol('en-IN', currencyCode) + price;
                return;
            } else {
                price = custom_price;
            }
        }
        // no email or no price : ask user to fill all
        if (!email || !price) {
            document.getElementById("error").innerHTML = "Please fill in all the fields";
            return;
        }
        // validate email
        if (!document.getElementById("input-email").validity.valid) {
            document.getElementById("error").innerHTML = "Please insert a valid email address";
            return;
        }

        // show loading then send request to access stripe
        document.getElementById("pay-button").classList.toggle('button--loading');
        // console.log(JSON.stringify({ price, email, plan, currencyCode, successUrl, cancelUrl }));

        fetch("https://pay-as-you-like-gh.herokuapp.com/api/get-stripe-session", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "*/*"
                },
                body: JSON.stringify({ price, email, plan, currencyCode, successUrl, cancelUrl, productName, stripePrivateKey }),
            }).then(function (result) {
                document.getElementById("pay-button").classList.toggle('button--loading');
                console.log(result);
                return result.json()
            }).then(function (json) {  
                // post payment redirection 
                document.location = json.url
            })
        });

        $('.button-minus').click(function () {
            var radios = document.getElementsByClassName("radio");
            let selected_product;
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    selected_product = radios.item(i);
                }
            }
            var plan = document.getElementById("yearly-checkbox").checked ? "yearly" : "monthly";
            var minValue = plan==="yearly" ? selected_product.getAttribute("yearly") : selected_product.getAttribute("monthly");
            // update current value
            var count = parseInt(document.getElementById("custom-price").value) - 1;
            count = count < minValue ? count+1 : count;
            document.getElementById("custom-price").value = count;
            return false;
        });

        $('.button-plus').click(function () {
            var count = parseInt(document.getElementById("custom-price").value) + 1;
            document.getElementById("custom-price").value = count;
            return false;
        });
</script>
{{/contentFor}}