{{!< ../default}}

<main id="site-main" class="site-main site-signup outer">
<div class="inner">


{{!-- Custom Styles --}}
<link rel="stylesheet" href="{{asset "css/screen.css"}}">

{{#if @member.paid}}

    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else if @member}}

    {{!-- Logged in, not paying: Check out --}}
    <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
        <div class="checkout-box">
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Monthly</h3>
                    <span>{{@price.currency}}</span><strong>{{@price.monthly}}</strong> / month
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Monthly" >Choose this plan</a>
                </div>
            </div>
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Yearly</h3>
                    <span>{{@price.currency}}</span><strong>{{@price.yearly}}</strong> / year
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                        <li>One easy payment instead of 12!</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                </div>
            </div>
        </div>
    </div>

{{else}}

    <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>

        <div class="gh-portal-input-labelcontainer">
            <label for="input-name" class="gh-portal-input-label"> Name </label>
        </div>
        <input id="input-name" class="gh-portal-input" type="text" name="name" placeholder="Jamie Larson" autocomplete="off" autocorrect="off" autocapitalize="" aria-label="Name" value="">
        <div class="gh-portal-input-labelcontainer">
            <label for="input-email" class="gh-portal-input-label"> Email </label>
        </div>
        <input id="input-email" class="gh-portal-input" type="email" name="email" placeholder="jamie@example.com" autocomplete="off" autocorrect="off" autocapitalize="off" aria-label="Email" value="">

        <div class="row" style="margin-bottom: 32px; margin-top: 64px;">
            <span>MONTHLY</span>
            <label class="price-switch">
                <input type="checkbox" onchange="onPlanSwitch(JSON.stringify({{@products}}))" id="yearly-checkbox">
                <span class="slider round"></span>
            </label>
            <span>YEARLY</span>
        </div>

        <div class="checkout-box">
            {{#foreach @products as |product|}}
                {{#if @product.monthly_price}}
                    <label class="checkout-plan">
                        <input name="plan" class="radio" type="radio" checked>
                            <span class="plan-details">

                        <header class="checkout-plan-header">
                            <h3>{{product.name}}</h3>
                            {{#match @product.name "=" "CUSTOM"}}
                                <div class="input-group row">
                                    <input type="button" value="-" class="button-minus" data-field="quantity">
                                    <div class="checkout-currency">$</div>
                                    <input id="custom-price" type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                                    / month
                                    <input type="button" value="+" class="button-plus" data-field="quantity">
                                </div>
                            {{else}}
                                <span>{{@price.currency}}</span><strong id="{{product.name}}">{{@price.monthly}}</strong> / month
                            {{/match}}
                        </header>
                        <div class="checkout-plan-content">
                            <header class="checkout-plan-header">
                                {{#if @product.description}}
                                    <span>{{product.description}}</span>
                                {{/if}}
                            </header>

                            {{#if @product.benefits}}
                                <ul>
                                {{#foreach @product.benefits as |benefit|}}
                                    <li>{{benefit.name}}</li>
                                {{/foreach}}
                                </ul>
                            {{/if}}
                        </div>
                        </span>
                        </input>
                    </label>

                {{/if}}
            {{/foreach}}
        </div>
        <a class="button rounded primary fit" href="javascript:" data-members-plan="Monthly" id="pay-button" style="margin-top: 32px;"
            {{!-- onclick="this.classList.toggle('button--loading')" --}}
            >
            <span class="button__text">
                Choose this plan
            </span>
        </a>
        <p id="error">
            <!-- error message will appear here -->
        </p>
    </div>


{{/if}}

</div>
</main>


{{#contentFor "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../assets/built/main.min.js"></script>
<script type="text/javascript">
    function onPlanSwitch(productss) {

        var yearlySelected = document.getElementById('yearly-checkbox').checked;
        var products = JSON.stringify({{{@products}}});
        console.log(products);
        for (product in products) {
            // change the price plan for each subscription product
            // we name the subscription price text with the subscription name
            // so we can access the component through the products array
            if (yearlySelected) {
                document.getElementById(product.name).innerHTML = product.yearly_price;
            } else {
                document.getElementById(product.name).innerHTML = product.monthly_price;
            }
        }
    }
    
    $("#pay-button").click(function () {
        document.getElementById("error").innerHTML = ""
        var plan = document.getElementById("yearly-checkbox").checked ? "yearly" : "monthly";
        var price = document.getElementById("custom-price").value;
        var name = document.getElementById("input-name").value;
        var email = document.getElementById("input-email").value;
        var currencyCode = "USD";

        // no email or no price : ask user to fill all
        if (!email || !price) {
            document.getElementById("error").innerHTML = "Please fill in all the fields";
            return;
        }
        if (!(parseInt(price) >= 4)) {
            document.getElementById("error").innerHTML = "Please fill in a minimum price ";
            return;
        }

        // show loading then send request to access stripe
        document.getElementById("pay-button").classList.toggle('button--loading');

        fetch("https://pay-as-you-like-gh.herokuapp.com/api/get-stripe-session", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "*/*"
                },
                body: JSON.stringify({ price, email, plan, currencyCode }),
            }).then(function (result) {
                document.getElementById("pay-button").classList.toggle('button--loading');
                console.log(result);
                return result.json()
            }).then(function (json) {  
                // post payment redirection 
                document.location = json.url
            })
        });
</script>
{{/contentFor}}