<main id="site-main" class="site-main site-signup outer">
<div class="inner">

{{#if @member.paid}}

    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else if @member}}

    {{!-- Logged in, not paying: Check out --}}
    <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
        <div class="checkout-box">
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Monthly</h3>
                    <span>{{@price.currency}}</span><strong>{{@price.monthly}}</strong> / month
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Monthly" >Choose this plan</a>
                </div>
            </div>
            <div class="checkout-plan">
                <header class="checkout-plan-header">
                    <h3>Yearly</h3>
                    <span>{{@price.currency}}</span><strong>{{@price.yearly}}</strong> / year
                </header>
                <div class="checkout-plan-content">
                    <ul>
                        <li>Full access to all private posts</li>
                        <li>Regular updates with new content</li>
                        <li>Support independent publishing</li>
                        <li>Simple, secure card payment</li>
                        <li>One easy payment instead of 12!</li>
                    </ul>
                    <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                </div>
            </div>
        </div>
    </div>

{{else}}

        <div class="checkout-form">
        <h1 class="checkout-title">Choose your subscription</h1>
        <p>Unlock full access to {{@site.title}} and see the entire library of members-only content & updates</p>
        <div class="checkout-box">

            {{#foreach @products as |product|}}
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>{{product.name}}</h3>
                            {{#if @product.monthly_price}}
                                <strong>{{price product.monthly_price}}</strong> / month
                            {{/if}}
                            {{#if @product.yearly_price}}
                                Or <strong>{{price product.yearly_price}}</strong> / year
                            {{/if}}
                    </header>
                    <div class="checkout-plan-content">
                        {{#if @product.description}}
                            {{product.description}}
                        {{/if}}

                        {{#if @product.benefits}}
                            <ul>
                            {{#foreach @product.benefits as |benefit|}}
                                <li>{{benefit.name}}</li>
                            {{/foreach}}
                            </ul>
                        {{/if}}
                        
                        {{!-- <ul>
                            <li>Full access to all private posts</li>
                            <li>Regular updates with new content</li>
                            <li>Support independent publishing</li>
                            <li>Simple, secure card payment</li>
                        </ul> --}}
                        <a class="button primary fit" href="javascript:" data-members-plan="Monthly" id="pay-button">
                            Choose this plan</a>
                    </div>
                </div>
            {{/foreach}}
        </div>
    </div>


{{/if}}

</div>
</main>


{{#contentFor "scripts"}}
<script>
$(document).ready(function () {

    $("#pay-button").click(function () {
        // document.getElementById("error").innerHTML = ""
        
        var plan = "monthly";
        var price = 100; // document.querySelector(`#${plan}-buttons-container input[type="number"]`).value;
        var email = "sss@aaa.com"; //document.getElementById("email").value;
        var currencyCode = "USD";

        // no email or no price : ask user to fill all
        /***
        if (!email || !price) {
            document.getElementById("error").innerHTML = "Please fill in all the fields";
            return;
        }
        if (!(parseInt(price) >= 4)) {
            document.getElementById("error").innerHTML = "Please fill in a minimum price ";
            return;
        }
        ***/

        // call our custom backend
        fetch("https://pay-as-you-like-gh.herokuapp.com/api/get-stripe-session", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "*/*"
            },
            body: JSON.stringify({ price, email, plan, currencyCode })
        }).then(function (result) {
            console.log(result);
            return result.json()
        }).then(function (json) {  
        // post payment redirection 
            document.location = json.url
        })
    });
});

</script>
{{/contentFor}}
